/* Variables */
:root {
    --background: #ffffff;
    --primary-font: 'Fredoka One', sans-serif;
    --first-color: #5bcffa;
    --second-color: #f5abb9;
   
 
  }
  
  /* Body and HTML styles */
  html, body {
    background-color: var(--background);
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  
  /* Text styles */
  #text {
    font-family: 'fredoka';
    font-weight: 800;
    font-size: 5em;
    line-height: 1.5em;
    text-align: center;
    position: relative;
    top: 15%;
    transform: translateY(-50%);
    &:hover {
      cursor: default;
    }
  
    /* Wrapper styles */
    .wrapper {
      display: inline-block;
      top: -800px;
      position: relative;
      height: 150px; /* default */
      width: 90px; /* default */
      transition: ease 0.3s all;
  
      /* Span styles */
      span {
        position: absolute;
        top: 0;
        right: 0;
        transition: ease 0.3s all;
  
        /* Letter-2 styles */
        &.letter-2 {
          color: var(--first-color);
        }
  
        /* Letter-1 styles */
        &.letter-1 {
          color: var(--second-color);
          z-index: 1;
  
          &:hover {
            top: -3px;
            right: -3px;
  
            ~ .letter-2 {
              top: 3px;
              right: 3px;
            }
          }
        }
  
        /* Space styles */
        &.space {
          padding: 0;
          min-width: 30px;
          display: inline-block;
        }
      }
    }
  }
  


  img {
    display: block;
    margin: auto;
  }
  .rotate{
    height: 50%;
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}
 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  